.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;

    margin-bottom: 1rem;
    padding: 3rem;

    font-family: arial, serif;
    color: darkgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.link {
    flex-shrink: 3;

    margin-right: 2rem;

    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
}

.link img {
    width: 7.5rem;

    margin: 2rem;

    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
}

.link .img {
    width: 7.5rem;

    margin: 2rem;

    border: 1px solid rgba(0, 0, 0, 0.2);
}

.description {
    align-self: start;
    flex-grow: 3;
    flex-shrink: 0;
    padding-bottom: 5rem;
    margin-right: 3rem;

    height: 100%;

    border-right: 2px solid rgba(167, 167, 167, 0.48);
}

.description h2 {
    margin-top: 0;
}

.description a {
    text-decoration: none;
    color: #a7a7a7;
}

.rightBlock {
    align-self: stretch;
    display: flex;
    flex-shrink: 2;
}

.quantity {
    align-self: center;

    margin-right: 3rem;

    width: 10rem;
}

.price {
    align-self: start;
    min-width: 10rem;

    font-size: 22px;
    color: black;
    text-align: right;
}

.price button {
    height: 2rem;
    width: 2rem;
    outline: 0;
    padding: 0;
    color: white;
    cursor: pointer;
    font-size: 18px;
    background: url("../assets/img/2020-02-07_214403.png") center no-repeat;
    margin-bottom: 2.8rem;
    border: none;
}

.price button:hover {
    opacity: 0.6;
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 999px) {
    .item {
        justify-content: center;
    }

    .description {
        padding: 0;
        margin: 0;
        flex: 1 0;
        align-self: center;
        border: none;
        min-width: 25rem;
    }

    .link {
        flex-shrink: 0;
    }
}

@media screen and (max-width: 568px) {
    .item {
        justify-content: center;
    }

    .description {
        padding: 0;
        margin: 0;
        flex: 3 0 auto;
        align-self: center;
        border: none;
    }

    .link {
        margin-right: 0;
        margin-bottom: 2rem;
        flex: 0 1;
    }

    .link img {
        width: 24rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin: 2rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        border-radius: 1rem;
    }

    .link.img {
        width: 24rem;
        margin: 2rem;
    }
}

@media screen and (max-width: 360px) {
    .link img {
        width: 20rem;
    }
    .link.img {
        width: 24rem;
        margin: 2rem;
    }
}